@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image:  url('/imagee/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }